.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
}
.tilt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.img__xrAuh {
  object-fit: cover;
}
.img__xrAuh > picture > img {
  object-fit: cover;
}
.img__xrAuh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
