.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  background: #1f1f1f;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.navigationBar:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  max-width: 100%;
  position: relative;
  text-align: left;
  padding: 16px;
}
.link___4ROp6 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.img__hL5Ox {
  object-fit: cover;
  height: 40px;
  align-self: center;
  max-width: 705px;
  width: 100%;
  box-shadow: none;
  min-width: 0;
}
.img__hL5Ox > picture > img {
  object-fit: cover;
}
.img__hL5Ox > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__q4Pi2 {
  object-fit: cover;
  height: 33px;
}
.img__q4Pi2 > picture > img {
  object-fit: cover;
}
.img__q4Pi2 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__eamXn {
  object-fit: cover;
}
.img__eamXn > picture > img {
  object-fit: cover;
}
.img__eamXn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.link__bDzWp {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-family: "Numans", sans-serif;
  font-size: 24px;
  margin-right: 19px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 5px;
}
.link__wLl8W {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #a8a8a8;
  margin-right: 20px;
  margin-top: 7px;
}
.link__dQw66 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: #a8a8a8;
  margin-top: 7px;
}
.text__b7Ia {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Fugaz One";
  color: #ffffff;
  font-size: 64px;
  text-align: center;
  margin-top: 8px;
  padding-top: 0px;
  min-width: 0;
}
.embedHtml:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 165px;
  width: 1239px;
  margin-top: 0px;
  align-self: center;
  box-shadow: none;
  transform: translateX(0px) translateY(-100px) translateZ(0px);
  transition-property: all;
  transition-duration: 1s;
  font-family: "Fugaz One";
  flex-shrink: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
.text__f3FMi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 150px;
  text-align: center;
  font-size: 32px;
  align-self: center;
  transform: translateX(-378px) translateY(0px) translateZ(0px);
  color: #535353;
  font-family: "Fugaz One";
  min-width: 0;
}
.text__sy4Mf {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 150px;
  text-align: center;
  font-size: 32px;
  align-self: center;
  transform: translateX(-71px) translateY(-48px) translateZ(0px);
  font-family: "Fugaz One";
  min-width: 0;
}
.text__w4Amx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 150px;
  text-align: center;
  font-size: 32px;
  align-self: center;
  transform: translateX(176px) translateY(-96px) translateZ(0px);
  font-family: "Fugaz One";
  min-width: 0;
}
.text___36Tzi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 150px;
  text-align: center;
  font-size: 32px;
  align-self: center;
  transform: translateX(422px) translateY(-144px) translateZ(0px);
  font-family: "Fugaz One";
  min-width: 0;
}
